.adv-card{
    background-color: rgb(202, 204, 170);
    border: 1px solid rgb(0, 0, 0);
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0 20px 20px rgba(0,0,0, 0.7);
    width: 20em;
    height: 10em;
}

.adv-card:hover{
    transition: all 300ms ease;
    transform: scale(1.2);
}

.adv-card-link {
    color: white;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
  }
  
.adv-name{
    margin: auto;
    max-width: 80%;
    color: #000;
}

.adv-info{
    margin: auto;
    margin-top: .3em;
    color: brown;
    max-width: 90%;
    max-height: 95%;
}

.advisor-list{
    max-width: 90%;
    display: inline;
}

.nostrt{
    margin: auto;
}