.adv-card{
    border: 1px solid Grey;
    margin: auto;
    border-radius: 1rem;
}

.adv-card-link {
    color: white;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
  }
  
.adv-name{
    color: #000;
}

.adv-info{
    color: brown;
}