.managed-assets{
    display: block;
}

.services-container{
    display: block;
   
}

.broch-container{
    display: block;
    
}

.BusNm{
    display: block;
    
}

.details{
    max-width: 80vw
}