.broch{
    text-decoration: none;
    color: blue;
   }

.brochure-list{
    display: inline-block;
    margin: 2vw;
    border: 1px solid gray;
    border-radius: 1em;
}

.broch-title{
    margin-left: auto;
    padding-left: 10px;
}