.sep-accounts-container{
    display: inline-block;
    margin: 2vw;
    border: 1px solid gray;
    border-radius: 1em;
}

.custodian{
    color: brown;
}

.percent{
    color: brown;
}

.hidden-percent{
    display: none;
}

.shown-percent{
    display: block;
}

.PF{
    color: brown;
}