.services-container{
    display: inline-flex;
    margin: 5vw;
    border: 1px solid gray;
    border-radius: 1em;
}

.services-title{
    margin-left: auto;
    padding-left: 10px;
}

.shown{
    color: brown;
    display: block;
}

.hidden{
    display: none;
}