.staff-container{
    display: inline-flex;
    margin: 2vw;
    border: 1px solid gray;
    border-radius: 1em;
}


.staff-title{
    margin-left: auto;
    padding-left: 10px;
}


.total-staff{
    margin-left: auto;
    padding-left: 10px;
}

.shown-staff{
    color: brown;
    display: block;
}

.hidden-staff{
    display: none;
}