.Home {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(102, 102, 102))
}

h1 {
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.5em;
  width: inherit;
  color: rgb(0, 0, 0);
}

h3 {
  color: rgb(0, 0, 0);
  width: inherit;
  text-align: center;
}

.app-description {
  color: rgb(0, 0, 0);
  width: inherit;
  text-align: center;
}

.msg {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 2px;
  font-style: italic;
}

.admin-msg{
  color: red;
}

.informative-notes{
  margin: auto;
  padding: 0.5rem;
  padding-bottom: 0.9rem;
  width: 40vw;
}

.admin-msg{
  margin: 50vw, 10vh;
  padding: 1.0rem;
  text-align: center;
}

.edit-btn{
  margin-left: 40vw;
 
  border-radius: 5px;
  border-style: none;
  padding: 2px;
}

.edit-btn:hover{
  background-color: yellow;
  
}