.Home {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

h1 {
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.5em;
  width: inherit;
  color: rgb(0, 0, 0);
}

h3 {
  color: rgb(0, 0, 0);
  width: inherit;
  text-align: center;
}

.app-description {
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  color: rgb(0, 0, 0);
  width: 80%;
  text-align: center;
}

.msg {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 2px;
  font-style: italic;
}

.admin-msg{
  color: red;
}

.informative-notes{
  margin: auto;
  padding: 0.5rem;
  padding-bottom: 1rem;
  width: 40vw;
  color: rgb(0, 0, 0)
}

.admin-msg{
  margin: 50vw, 10vh;
  padding: 1.0rem;
  text-align: center;
}

button .edit-btn{
  margin-left: 40vw;
  background-color: antiquewhite;
  border-radius: 5px;
  border-style: none;
  padding: 2px;
}

.edit-btn:hover{
  background-color: yellow;
  
}

.contact-btn{
  text-decoration: none;
  color: lightblue;
}