.Navbar{
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(102, 102, 102))
    
}

.logo-link {
  display: inline-flex;
  color: brown;
  padding: 2px;
  text-decoration: none;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 0.5em;
  background-color: rgb(204, 204, 204);
}
.logo-link:hover {
  background-color: rgb(255, 255, 255);
}

li {
  list-style: none;
  margin: 0.5em;
  display:inline-flex;
}

.nav-link {
  border: 1px solid rgb(121, 121, 121);
  border-radius: 0.5em;
  background-color: rgb(204, 204, 204);
  color: brown;
  text-decoration: none;
  padding: 2px;
}

.nav-link:hover {
  background-color: rgb(255, 255, 255);
}

.navbar-list {
  border-top: 2px solid white;
  border-bottom: 2px solid brown;
  background-color: rgba(255, 255, 255,0);
}

.nav-link-logout{
  border: 1px solid white;
  border-radius: 0.5em;
  background-color: rgb(24, 24, 24);
  color: darkred;
  text-decoration: none;
  padding: 2px;
}

.nav-link-logout:hover{
  color: red;
  background-color: rgb(255, 146, 146);
}