.Navbar{
  background-image: linear-gradient(
    to bottom left,
    rgb(85, 64, 33),
    rgb(0, 0, 0))
    
}

.logo-link {
  display: inline-flex;
  padding: 2px;
  text-decoration: none;
}


li {
  list-style: none;
  margin: 0.5em;
  display:inline-flex;
}

.nav-link {
  border-radius: 5px;
  height: 2em;
  width: 20vw;
  background-color: rgb(94, 94, 94);
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  padding: 2px;
}

.nav-link:hover {
  background-color: rgb(85, 64, 33);
  transform: scale(1.1);
  transition: all 200ms ease;
 
}

.navbar-list {
  border-top: 2px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255,0);
}

.nav-link-logout{
  border-radius: 5px;
  height: 2em;
  width: 20vw;
  background-color: rgb(94, 94, 94);
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  padding: 2px;
}

.nav-link-logout:hover{
  color: red;
  background-color: rgb(255, 146, 146);
  transform: scale(1.1);
  transition: all 200ms ease;
}

.title {
  border: 1px solid rgb(255, 255, 255);
  border-style:none;
  color: rgb(124, 124, 124);
}