.ADV-expo-container{
    margin: .5em;
}

.ADVexpo-title{
    margin-top: 1em;
    display: inline-block;
    width: 90%;
    border: 1px solid gray;
    border-radius: 1em;
    background-color: whitesmoke;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.7);
}

.ADVexpo{
    margin-top: 1em;
    display: inline-block;
    width: 90%;
    border: 1px solid gray;
    border-radius: 1em;
    background-color: whitesmoke;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.7);
}

.AER{
    margin-top: 1em;
    display: inline-block;
    width: 90%;
    border: 1px solid gray;
    border-radius: 1em;
    background-color: whitesmoke;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.7);
}

.CA{
    margin-top: 1em;
    display: inline-block;
    width: 90%;
    border: 1px solid gray;
    border-radius: 1em;
    background-color: whitesmoke;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.7);
}

.ASO{
     margin-top: 1em;
    display: inline-block;
    width: 90%;
    border: 1px solid gray;
    border-radius: 1em;
    background-color: whitesmoke;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.7);
}

.FPSR{
    margin-top: 1em;
    display: inline-block;
    width: 90%;
    border: 1px solid gray;
    border-radius: 1em;
    background-color: whitesmoke;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.7);
}

.Disclosures{
    margin-top: 1em;
    display: inline-block;
    width: 90%;
    border: 1px solid gray;
    border-radius: 1em;
    background-color: whitesmoke;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.7);
}

.example-img{
    margin: auto;
    padding-bottom: .5em;
    width: 40vw;
    height: 35vh;
}

.example-ul{
    justify-content: start;
    padding: 1em;
    display: block;
}

.example-li{
    display: flex;
    padding-left: 1rem;
    margin: 2px;
}